body{
    background:black;
}

 /*<!-- Style to fix the issue of text extending past panel length -->*/
/*.panel-body a {
      word-break: break-all;
    }*/

.nav{
    background:black;
    border: 1px;
    border-bottom-left-radius: 25px;
}

#name{
    border-bottom-left-radius: 25px;
    /* border-bottom-left-radius:  */
    float: left;
    width: 38%;
    border: 3px;
    font-family: 'Text Me One', sans-serif;
}

#near{
    /* border-radius: 25px; */
    float: left;
    width: 38%;
    border: 1px;
    font-family: 'Text Me One', sans-serif;
}

/*#milesAway{
    float: left;
    width: 10%;
     height: 100%; 
    border: 1px;
}*/

#run-search{
    border-bottom-right-radius: 25px;
    /* border-radius: 25px; */
    float: left;
    background-color: white;
  /*  width: 10%;
    height: 500%;*/
     border: 1px; 
          font-family: 'Text Me One', sans-serif;
}

#clear-all{
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    /* border-radius: 25px; */
    float: left;
    background-color: white;
    color: #330818;
  /*  width: 10%;
    height: 500%;*/
     border: 1px; 
     font-family: 'Text Me One', sans-serif;
}

#navlogo{
    
    border-bottom-left-radius: 25px;
    float: left;
    height:50%;
    width:10%;
   
}

#neventSearch{
    /* border-bottom-left-radius: 25px; */
    /* border-bottom-left-radius:  */
    float: left;
    width: 60%;
    border: 0px;
}
